* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.country_name{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;

}
.country{
    align-content:top ;
}