


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

form label {
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}


button {
    background-color: #6c63ff;
    color: white;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}


#country-info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

#country-info img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#bordering-countries p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

#bordering-countries img {
    width: 80px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

